<ng-container>
	<button
		*ngIf="ratingPoints === null"
		mat-raised-button
		class="btn-trigger"
		color="primary"
		(click)="showMenu()"
		>Review ngx-menu</button
	>

	<div *ngIf="ratingPoints !== null" class="rating-points">
		<p class="rating-points__msg">Thank you for your review!</p>
		<p class="rating-points__points"
			><span
				*ngFor="let v of getArrayForRenderingRating(); let i = index"
				libNgxMenuItem
				mat-icon-button
				class="rating-points__ico-rate"
				><mat-icon>{{ ratingPoints > i ? 'favorite' : 'favorite_border' }}</mat-icon></span
			></p
		>
		<p class="rating-points__btn-review-again"
			><button mat-button (click)="showMenu()">Review Again</button></p
		>
	</div>

	<ng-template #menuPopup>
		<div class="menu-popup">
			<p class="menu-popup__hdg"
				>How do you like <code class="menu-popup__hdg-code">ngx-menu</code>?</p
			>
			<lib-ngx-menu #menuPopupBody>
				<button
					*ngFor="let v of getArrayForRenderingRating(); let i = index"
					libNgxMenuItem
					mat-icon-button
					class="menu-popup__btn-rate"
					[class.is-keyboard-origin]="menuPopupLastOrigin === 'keyboard'"
					[matTooltip]="ratingLabels[i]"
					matTooltipPosition="below"
					(click)="rate(i + 1)"
					(focusReceived)="menuPopupLastOrigin = $event"
					><mat-icon>favorite_border</mat-icon></button
				>
			</lib-ngx-menu>
		</div>
	</ng-template>
</ng-container>
